<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.kh.project.admin.model.mapper.AdminMapper">

	<insert id="insertAlert" parameterType="Alert" useGeneratedKeys="true"
		keyProperty="alertId">
		INSERT INTO ALERT
		(ALERT_ID, MEMBER_NO, TYPE, CONTENT, TARGET_URL, CREATED_AT, IS_READ)
		VALUES
		(ALERT_SEQ.NEXTVAL, #{memberNo}, #{type}, #{content}, #{targetUrl},
		DEFAULT, 'N')
	</insert>


</mapper>
