<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="edu.kh.project.welfare.facility.mapper.GyeonggiRegionMapper ">

<select id="selectApiInfo" resultType="edu.kh.project.welfare.facility.dto.RegionApiInfo">
  SELECT REGION_CITY, REGION_DISTRICT, API_URL
  FROM REGION
  WHERE REGION_CITY = #{city}
    <choose>
      <when test="district != null and district != ''">
        AND REGION_DISTRICT = #{district}
      </when>
      <otherwise>
        AND REGION_DISTRICT = '전체'
      </otherwise>
    </choose>
</select>

</mapper>

