<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.kh.project.welfare.like.model.mapper.WelfareLikelMapper">

  <!-- 찜 여부 확인 -->
<select id="selectLike" resultType="Welfare">
  SELECT *
  FROM welfare
  WHERE member_no = #{memberNo}
    AND api_service_id = #{apiServiceId}
    AND jj_del_fl = 'Y'
</select>

<!--  찜 하기 -->
<insert id="insertLike" parameterType="Welfare">
  INSERT INTO welfare (
    service_no,
    member_no,
    api_service_id,
    service_name,
    category,        
    region_city,         
    region_district,     
    description,
    agency,
    url,
    reception_start,
    reception_end,
    lat,
    lng,
    jj_time,
    jj_del_fl,
    alarm_sent_fl
  ) VALUES (
    welfare_seq.NEXTVAL,
    #{memberNo},
    #{apiServiceId},
    #{serviceName},
    #{category},      
    #{regionCity},        
    #{regionDistrict},
    #{description},
    #{agency},
    #{url},
    #{receptionStart},
    #{receptionEnd},
    #{lat},
    #{lng},
    SYSDATE,
    'N',
    'N'
  )
</insert>

  <!-- 찜 복구 -->
  <update id="reactivateLike">
    UPDATE welfare
    SET jj_del_fl = 'N',
        jj_time = SYSDATE
    WHERE member_no = #{memberNo}
      AND api_service_id = #{apiServiceId}
  </update>

  <!-- 찜 취소 -->
  <update id="deleteLike">
    UPDATE welfare
    SET jj_del_fl = 'Y'
    WHERE member_no = #{memberNo}
      AND api_service_id = #{apiServiceId}
  </update>
  
<select id="selectPopularWelfare" resultType="Welfare">
  SELECT 
    api_service_id,
    service_name,
    category,
    region_city,
    region_district,
    COUNT(*) AS likeCount
  FROM welfare
  WHERE jj_del_fl = 'N'
  GROUP BY api_service_id, service_name, category, region_city, region_district
  ORDER BY likeCount DESC
  FETCH FIRST 10 ROWS ONLY
</select>

</mapper>