.facilityCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 16px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

.facilityCard:hover {
  transform: translateY(-5px);
}

.facilityStatus a:visited {
  color: black;
  font-size: 12px;
  text-decoration: none;
}

.facilityCard a {
  text-decoration: none;
  color: black; /* 선택적으로 글씨 색도 명시 */
}

.facilityStatus {
  margin-top: 5px;
}

.facilityCardRow {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  max-height: 54px;
  overflow: hidden;
  margin-bottom: 15px;
}

.serviceTarget {
  padding: 3px 8px;
  border-radius: 1rem;

  border: 1px solid transparent;
  font-size: 0.7rem;
  background-color: #ffe066;
  color: black;
  font-weight: 600;
}

.category {
  padding: 3px 8px;
  border-radius: 1rem;

  border: 1px solid transparent;
  font-size: 0.7rem;
  background-color: #5e60ce;
  color: white;
  font-weight: 600;
}

.facilityAction {
  display: flex;
  justify-content: flex-end; /* ✅ 오른쪽 정렬 */
  margin-top: 8px;
}
