.change-password-container {
  max-width: 400px;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 6px;
  margin: 5px 0 10px;
}

button {
  /* margin-top: 10px; */
  /* 효원씨  */
  padding: 6px 12px;
}

.error-message {
  color: red;
  font-size: 0.85rem;
}

.success-message {
  color: green;
  font-size: 0.9rem;
}
