.member-standard-view {
  margin-bottom: 16px;
}

.member-standard-labels {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 4px;
}

.member-standard-labels span {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.9em;
}

.member-standard-labels .main-type {
  background-color: #f0f0f0;
  color: #333;
  font-weight: 500;
}



.member-standard-labels .tag-disabled {
  background-color: #d0e6ff;
  color: #0057b7;
}



.member-standard-labels .tag-pregnant {
  background-color: #ffe1e1;
  color: #b70000;
}

.description-preview {
  display: -webkit-box;
  -webkit-line-clamp: 2;            /* 줄 수 제한 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  max-height: 3em;                  /* 줄 수 x 줄 높이 */
}

.category-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

.category-tabs button {
  padding: 0.5rem 1rem;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
}

.category-tabs .active {
  background: #3478f6;
  color: white;
}


.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.clickable-row:hover {
  background-color: #f0f0f0;
}

